<!-- prettier-ignore -->

{% extends "shop/basic.html" %}
{% block title %}About Us - My Cart{% endblock %}
{% block content %}
<div class="container my-3">
  <h1>About Us</h1>
  <p>
    Welcome to My Cart, your one-stop shop for all your shopping needs. We are
    dedicated to providing you with the best shopping experience, offering a
    wide range of products at competitive prices. Our mission is to make
    shopping easy, convenient, and enjoyable for everyone. Whether you're
    looking for the latest fashion trends, electronics, home essentials, or
    anything in between, we've got you covered. Thank you for choosing My Cart,
    and we look forward to serving you!
  </p>
</div>
{% endblock %}
