<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Text Analyzer with Django</title>
</head>
<body>
  <h1> Welcome to the Text Analyzer.</h1>
  <h2> Enter your text below to analyze it: </h2>
  <form action = '/analyze' method = 'post'> {% csrf_token %} 
    
    <textarea name = "text" style = "width: 200px; height: 100px;">
    </textarea>
    <br>
    <input type = "checkbox" name = "removepunc"> Remove Punctuation <br>
    <input type = "checkbox" name = "fullcaps"> UPPERCASE <br>
    <input type = "checkbox" name = "newlineremover"> Remove NewLines <br>
    <input type = "checkbox" name = "spaceremover"> Remove Extra Spaces <br>
    <input type = "checkbox" name = "charcount"> Character Count <br>
    <button type = "submit"> Analyze Text </button>
  </form>

  
</body>
</html>